@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

body {
background-color: #727272;
  display: flex;
  justify-content: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
